* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
}
.logo img {
    width: 100%;
}
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #DDDDDD;
}
header .header-left {
    display: flex;
    align-items: center;
}
header .header-left .logo {
    width: 140px;
}
header .header-left nav {
    margin-left: 50px;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #fdfdfd;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}
nav ul li a:hover, 
nav ul li a.active {
    color: #fff;
}
/*serech bar*/
header .header-left .searchbar {
    display: flex;
    align-items: center;
    margin-left: 130px;
    border-radius: 28px;
    width: max-content;
    outline: none;
    border : none;
    width: 200px;
    margin-top: 7px;
}
nav .login-signup {
    display: none;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    color: #cfd9e0;
    font-weight: bold;
}
header .login-signup a {
    display: inline-block;
    color: #ffffff;
    background: #B71111;
    padding: 5px 12px;
    border-radius: 15px;
    
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}





.card-container {
    display: flex;
    flex-direction: column; /* Alignement vertical des cartes */
    justify-content: center;
}
.card {
    background-color: #f1f1f1;
    padding: 45px;
    border-radius: 20px;
    margin-right: 500px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
 
.card img.article {
    height: 200px;
    overflow: hidden;
    border-radius: 20px;

}

.verticale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 50px;
    background-color: #B71111;
    height: 50px;
}







@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: 2;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
    header .searchbarr {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
}